body { 
    font-family: Arial, sans-serif; font-size: 12px; margin: 0; padding: 0; 
}
.header {
    background: linear-gradient(to right, #6fb9f0, #dceeff);
    padding: 20px;
    text-align: center;
}
.header h2 {
    margin: 0;
}
.sub-header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #000;
    padding: 6px;
}
th {
    background-color: #cce5ff;
}
.footer {
    padding: 20px 30px;
    background-color: #e6f2ff;
    font-size: 12px;
}
.footer h4 {
    margin: 0;
    font-weight: bold;
}