.split-left {
    background-image: url('/storage/images/login-background.jpg'); 
    background-size: cover;
}
.split-right {
    background-color: #ffffff;
}
.text-danger{
    font-size: 12px;
    margin: 0;
}
input::placeholder{
    font-size: 14px;
}
.logo {
    font-family: 'Impact', sans-serif;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
@media (max-width: 767.98px) { 
    .auth-card {
        width: 100% !important;
    }
    .logo {
        font-family: sans-serif;
        letter-spacing: 1.5px;
        color: black;
        text-shadow: none;
    }
}
