@import url('analytics.css');
@import url('mobile.css');
@import url('product-loader.css');

.hover-shadow {
    transition: all 0.3s ease;
}
.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}